<html>
<body>
<form action="/" method="post" enctype="multipart/form-data">
    <label for="url">QR Code URL:</label><br>
    <input type="text" id="url" name="url" value="https://ramzarznegaran.com/view/devices/entry/svm1ek403122042210660123933a4579818533/"><br><br>
    <label for="model">مدل دستگاه	:</label><br>
    <input type="text" id="model" name="model" value="M30S++(106TH)"><br><br>
    <label for="serial">شماره سریال :</label><br>
    <input type="text" id="serial" name="serial" value="SVM1EK403122042210660123933A45798"><br><br>
    <!-- <label for="product_id">شناسه کالا	:</label><br>
    <input type="text" id="product_id" name="product_id" value="2909851300964"><br><br>

    <label for="tracking_id">شناسه رهگیری	:</label><br>
    <input type="text" id="tracking_id" name="tracking_id" value="4001519160081"><br><br> -->

    <input type="submit" value="ساخت">
</form>
</body>
</html>