<!DOCTYPE html>
<html>
<head>
    <title>Label Generator</title>
</head>
<body>
<form action="/label" method="post" enctype="multipart/form-data">
    <label for="device_name">مدل دستگاه	:</label><br>
    <input type="text" id="device_name" name="device_name" value="M30S++(106TH)"><br><br>

    <label for="serial_number">شماره سریال :</label><br>
    <input type="text" id="serial_number" name="serial_number" value="SVM1EK403122042210660123933A45798"><br><br>

    <label for="product_id">شناسه کالا	:</label><br>
    <input type="text" id="product_id" name="product_id" value="2909851300964"><br><br>

    <label for="tracking_id">شناسه رهگیری	:</label><br>
    <input type="text" id="tracking_id" name="tracking_id" value="4001519160081"><br><br>

    <label for="qr_code_url">QR Code URL:</label><br>
    <input type="text" id="qr_code_url" name="qr_code_url" value="https://ramzarznegaran.com/view/devices/entry/svm1ek403122042210660123933a4579818533/"><br><br>

    <input type="submit" value="ساخت">
</form>

</body>
</html>